---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Venomous Monkey is still here !</h2>
</BaseLayout>
